@import './../../common/style/vars'
@import './../../common/style/templates'
  
main
  padding: 20px
  background-color: rgb(252 247 251)
  @include flex($fd: column, $gap: 20px)

section
  max-width: 1480px
  width: 100%
  padding: 20px
  background-color: #fff

.timersHeaderWrapper
  @include flex(space-between)
  border-bottom: 2px solid lightgray

.timersWrapper

