$headerColor: #19184A
$secondColor: #377dff
$plainTextColor: rgba(25, 24, 74, 0.5)

%headerText
  font-weight: 700
  color: $headerColor

%button 
  display: block
  width: max-content
  background-image: linear-gradient(45deg,#5A73ED 0%,#3D57D5 100%)
  border-radius: 8px
  padding: 12px 16px
  color: white
  font-weight: 700
  &:hover
    background: linear-gradient(-45deg, #5A73ED 0%, #3D57D5 100%)

%section 
  padding: 60px 85px

%tag 
  color: $secondColor
  background-color: rgba(55, 125, 255, 0.1)
  padding: 7px 15px
  margin-bottom: 8px
  border-radius: 20px
  width: max-content

%infoItem
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px
  border-radius: 24px
  padding: 25px
  background-color: #fff
  flex: 1

@mixin flex($jc: center, $ai: center, $fd: row, $gap: 0px, $wrap: nowrap)
  display: flex
  justify-content: $jc
  align-items: $ai
  flex-direction: $fd
  gap: $gap
  flex-wrap: $wrap

.howItWorksMain
  // font-family: "Product Sans", sans-serif
  line-height: 1.5

  & *
    box-sizing: border-box

  & h1
    @extend %headerText
    font-size: 2.5rem
    margin-bottom: 10px

  & h2
    @extend %headerText
    font-size: 2rem
    
  & h3
    @extend %headerText
    font-size: 1.75rem

.howWorksSec
  @extend %section
  margin: 0 38px
  background-color: #FBFBFB
  @include flex(space-around)

.howWorksInfo
  max-width: 490px

.howWorksTag
  @extend %tag
  font-size: 12px

.howWorksInfo

//TODO to take from element (not good)
.howWorksHeader
  margin-bottom: 10px

.howWorksText
  color: $plainTextColor
  margin-bottom: 40px

.howItWorksBtn
  @extend %button
  .playBtn
    padding-right: 10px

.howWorksImg
  width: 450px
  object-fit: contain

//=====================

.useWaysSec
  @extend %section
  @include flex($fd: column)
  background: linear-gradient(271.19deg, rgba(48, 125, 246, .05) 0%, rgba(20, 187, 191, .05) 100%), #FFFFFF

.useWaysTag
  @extend %tag
  font-size: 11px

.useWaysHead
  @include flex($fd: column)
  margin-bottom: 40px

.useWaysList
  @include flex($gap: 24px, $ai: stretch)

.useWaysItem
  @extend %infoItem
  @include flex($fd: column, $ai: flex-start)
  //TODO give class
  p
    flex: 1
    margin-bottom: 40px
    color: $plainTextColor

.useWaysHeader

.useWaysBtn
  @extend %button
  &Arrow
    margin-left: 10px 
    position: relative
    transition: all 0.2s ease-in
    left: 0

  &:hover &Arrow
    left: 5px

//=====================

.namingStepsSec
  @extend %section

.namingStepsHead
  @include flex($fd: column)
  margin-bottom: 40px

.namingStepsImg
  height: 70px

.namingStepsList
  @include flex($gap: 24px, $ai: stretch)

.namingStepsItem
  position: relative
  @extend %infoItem
  @include flex(flex-start, flex-start, column, 10px)
  //TODO give class
  p
    color: $plainTextColor

.stepArrow
  display: block
  width: 28px
  height: 14px
  position: absolute
  top: 50%
  left: 100%
  color: $plainTextColor
  z-index: 99
  margin: -2px 0 0 -14px

.namingStepsNumber
  font-size: 14px
  color: #fff
  font-weight: 700
  height: 32px
  background: #4942F3
  border-radius: 20px
  line-height: 32px
  padding: 0 15px

//=====================
.faqSec
  @extend %section
  padding: 80px 0

.faqHead
  @include flex($fd: column)
  margin-bottom: 40px

.faqHeader

.faqNav
  @include flex($wrap: wrap)
  max-width: 850px
  margin: 0px auto
  border-radius: 16px
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)), #FFFFFF

.faqNavItem
  width: 25%
  font-size: 16px
  font-weight: 400
  padding: 13px 0px
  border-radius: 16px
  text-align: center
  cursor: pointer
  color: #343434
  .active
    background: linear-gradient(271.19deg, #307DF6 0%, #14BBBF 100%), #307FF5
    color: #fff

.faqSection
  padding-top: 50px

.faqSectionHeader
  color: $secondColor
  font-size: 1.75rem
  margin-bottom: 30px
  font-weight: 700
  line-height: 1.3

.faqList
  padding: 6px

.faqListItem

.faqQuestion
  font-weight: 700

.faqAnswer

//================
  
.searchSec
  @extend %section
  padding-top: 40px
  background-color: rgb(99 124 247 / .08)

.searchContainer
  position: relative
  max-width: 800px
  width: 100%
  margin: 0 auto

.glassIcon
  position: absolute
  top: 50%
  left: 40px
  transform: translateY(-50%)
  width: 25px
  z-index: 1

.searchInput
  border: none
  outline: none
  display: block
  width: 100%
  text-align: center
  padding: 0 70px
  background: #FFF
  box-shadow: 0 16px 40px rgb(0 0 0 / .02)
  border-radius: 999px
  font-size: 24px
  height: 80px
  line-height: 80px
  color: #343434
  font-weight: 400
  &::placeholder
    opacity: 0.6

.searchBtn
  position: absolute
  top: 50%
  right: 16px
  transform: translateY(-50%)
  background: #FF6955
  border: none
  width: 48px
  height: 48px
  border-radius: 50%
  transition: all ease 0.6s
  &:hover
    background-color: #ff533c

.popularSearches
  @include flex($wrap: wrap, $gap: 12px)
  margin-top: 35px

.searchesLink
  display: inline-block
  font-weight: 400
  padding: 8px 16px
  border-radius: 20px
  transition: all ease 0.3s
  color: #637CF7
  background: rgb(99 124 247 / .08)
  border: none
  font-size: 14px
  &:hover
    background: none