@import './../../../common/style/vars'
@import './../../../common/style/templates'
@import './../../../pages/EventsPage/EventsPage.module'

.formHeader
  font-size: 1.4rem
  margin-bottom: 20px
  padding-bottom: 10px
  border-bottom: 2px solid rgb(238, 238, 238)

.form
  font-size: 1.2rem
  max-width: 650px
  width: 100%
  margin: 0 auto
  @include flex($fd: column, $gap: 10px)
  @media(max-width: 600px)
    gap: 20px
    max-width: 100%

.textWrapper
  width: 100%
  margin-bottom: 10px
  @include flex($ai: flex-start, $fd: column, $gap: 10px)
  @media(max-width: 600px)
    align-items: center
    font-size: 1.3rem 

.textInput
  width: 100%
  @media(max-width: 600px)
    width: 85%
  @media(max-width: 400px)
    width: 100%

.timeContiner
  width: 100%
  @include flex($jc: space-between, $ai: flex-start, $gap: 20px)
  @media(max-width: 600px)
    flex-direction: column
    align-items: center

.timeWrapper
  @include flex($ai: flex-start, $fd: column, $gap: 10px)
  @media(max-width: 600px)
    align-items: center
    font-size: 1.3rem

.timeInput
  @media(max-width: 600px)
    font-size: 1.2rem

.warning
  color: red
  font-size: 0.75rem

.inputContainer
  @include flex($ai: flex-start, $fd: column, $gap: 10px)
  width: 100%
  @media(max-width: 600px)
    align-items: center

.notValid
  border: 0.5px solid red !important

.valid
  border: 2px solid green

.btnsWrapper
  width: 100%
  @include flex(space-around)