@import './../HowItWorksPage.module'
  
.howWorksSec
  @extend %section
  padding: 40px 0 60px
  background-color: #FBFBFB

.howWorksContainter
  @extend %container
  flex-direction: row
  padding: 0 208px

.howWorksInfo
  max-width: 490px

.howWorksTag
  @extend %tag
  font-size: 12px

.howWorksInfo

//TODO to take from element (not good)
.howWorksHeader
  margin-bottom: 10px

.howWorksText
  color: $plainTextColor
  margin-bottom: 40px

.howWorksImg
  width: 450px
  object-fit: contain