@import './../HowItWorksPage.module'

.namingStepsSec
  @extend %section
  background: linear-gradient(271.19deg, rgb(68 51 241 / .04) 0%, rgb(98 142 255 / .04) 100%), #FFFFFF

.namingStepsContainer
  @extend %container

.namingStepsHead
  @include flex($fd: column)
  margin-bottom: 40px

.namingStepsImg
  height: 70px
  margin-bottom: 20px

.namingStepsHeader
  margin-bottom: 35px

.namingStepsList
  @include flex($gap: 24px, $ai: stretch, $wrap: wrap)
  @media(max-width: 992px)
    width: 100%
    gap: 12px 24px
  @media(max-width: 576px)
    flex-direction: column

.namingStepsItem
  position: relative
  @extend %infoItem
  @include flex(flex-start, flex-start, column, 10px)
  &:last-child .stepArrow
    display: none
  
  @media(max-width: 992px)
    min-width: 40%
    max-width: 50%
    width: 100%
    padding: 10px
    font-size: 14px
  @media(max-width: 576px)
    max-width: 100%
    min-height: 250px

.namingStepsText
  color: $plainTextColor
  margin-bottom: 35px

  @media(max-width: 992px)
    margin-bottom: 15px

.stepArrow
  position: absolute
  top: 50%
  left: 100%
  z-index: 99
  display: block
  width: 28px
  height: 14px
  margin: -2px 0 0 -14px
  color: $plainTextColor

.namingStepsNumber
  height: 32px
  padding: 0 15px
  font-size: 14px
  font-weight: 700
  line-height: 32px
  color: #fff
  background: #4942F3
  border-radius: 20px
